<!DOCTYPE html>
<html>
  <head>
    <title><%= turma %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= turma %></h1>
    <p>Bem vindo a <%= turma %></p>
  </body>
</html>
