<!DOCTYPE html>
<html>
  <head>
    <title>Biblioteca</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  </head>
  <body>
    <h1 class="display-6">Cadastro de livros</h1><br>
    <form method = "post" action="/livros/add" class="row g-3">
        <div class="container">
            <div class="row">
                <div class="col">
                    <label for="inputISBN" class="fw-bold">ISBN</label>
                    <input type="text" class="form-control" name="isbn" id="inputISBN" placeholder="ISBN">
                </div>
                <div class="col">
                    <label for="inputTitulo" class="fw-bold">Título</label>
                    <input type="text" class="form-control" name="titulo" id="inputTitulo" placeholder="Título do livro">
                </div>
                <div class="col">
                    <label for="inputAno" class="fw-bold">Ano</label>
                    <input type="text" class="form-control" name="ano" id="inputAno" placeholder="Ano de publicação">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col"></div>
                    <label for="inputSinopse" class="fw-bold">Sinopse</label>
                    <input type="textarea" class="form-control" name="sinopse" id="inputSinopse" placeholder="Digite aqui a sinopse do livro">
                <div class="col"></div>
            </div>    
            <br>    
            <div class="row">
                <div class="col">
                    <label for="inputEditora" class="fw-bold">Editora</label>
                    <select name="editora" id="inputEditora" class="form-select">
                        <option selected>(Informe)</option>
                        <option value="1">Editora 1</option>
                        <option value="2">Editora 2</option>
                        <option value="3">Editora 3</option>
                    </select>
                </div>
                <div class="col">
                    <label for="inputConservacao" class="fw-bold">Conservação</label>
                    <select name="conservacao" id="inputConservacao" class="form-select">
                        <option selected>(Informe)</option>
                        <option value="0">Novo</option>
                        <option value="1">Seminovo</option>
                        <option value="2">Usado</option>
                    </select>
                </div>    
                <div class="col">
                    <label for="inputEstoque" class="fw-bold">Estoque</label>
                    <input type="number" class="form-control" name="estoque" id="inputEstoque" placeholder="Estoque">
                </div>
            </div>
            <br>    
            <div class="row">
                <div class="col">
                    <label for="inputPreco" class="fw-bold">Preço (R$)</label>
                    <input type="text" class="form-control" name="preco" id="inputPreco" placeholder="Preço">
                </div>
                <div class="col">
                    <label for="inputMediaAvaliacao" class="fw-bold">Média de avaliações</label>
                    <input type="text" class="form-control" name="media" id="inputMediaAvaliacao" placeholder="Média de avaliações">
                </div>
                <div class="col">
                    <label for="inputNumAvaliacoes" class="fw-bold">Avalições</label>
                    <input type="text" class="form-control" name="avaliacoes" id="inputNumAvaliacoes" placeholder="Número de avaliações">
                </div>
            </div>
            <br><br>
            <div class="row">
                <div class="col"></div>
                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-primary">Cadastrar</button>
                </div>
                <div class="col"></div>
            </div>            
        </div> 
    </form>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>